<div class='message panel panel-default col-md-4' ng-controller='MessageController'>
  <form novalidate name="message_{{message.id}}_form">
    <div class='panel-heading text-center'><input placeholder="title" name="title" class="form-control" type="text" ng-model="message.title" required /></div>
    <div class='panel-body'>
      <span ng-show='message_{{message.id}}_form.title.$dirty && message_{{message.id}}_form.title.$invalid'>Invalid title</span>
      <span ng-show='message_{{message.id}}_form.body.$dirty && message_{{message.id}}_form.body.$invalid'>Invalid body</span>
      <span ng-show='message_{{message.id}}_form.secret.$dirty &&  message_{{message.id}}_form.secret.$invalid'>Invalid secret</span>
      <div class='form-group'>
        <label>Message Body <textarea placeholder="body" name="body" class="form-control" type="text" ng-model="message.body" required /></label>
      </div>
      <div class='form-group'>
        <label>Message Secret <input placeholder="secret" name="secret" class="form-control" type="number" ng-model="message.secret" required /></label>
      </div>
      <div class='form-group' ng-show='message.created_at'>
        <label>Created</label>
        {{message.created_at | date:"short"}}
      </div>
      <div class='form-group' ng-show='message.updated_at'>
        <label>Last Updated</label>
        {{message.updated_at | date:"short"}}
      </div>
      <div class='form-group'>
        <label>Disabled? <input class="form-control" type="checkbox" ng-model="message.disabled" /></label>
      </div>
      <div class='form-group'>
        <button class="btn btn-default" ng-click="baseMessages.remove(message)" ng-show="message.id">Delete</button>
      </div>
      <div class='panel panel-default' ng-show='message.call_logs'>
        <div class='panel-heading'>Call Logs</div>
        <div class='panel-body'>
          <div class='panel panel-default call_log' ng-repeat='log in message.call_logs'>
            <div class='panel-heading'>{{log.number}}</div>
            <div class='panel-body'>{{log.created_at | date:"short"}}</div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
