- content_for :title do
  \- Messages
- content_for :head do
  = javascript_include_tag 'messages'

%div{"ng-app" => "messages"}
  .messages{"ng-controller" => "MessagesController"}
    .clearfix.create_form
      %h1 New Message
      %ng-include{"src"=>"'message-form.html'", "ng-init"=>"message = {}"}
    %hr
    %h1.text-center Messages
    %message-forms
