!!!
%html
  %head
    %title
      Scavenger Hunt Express
      = yield(:title)
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tag
    = yield(:head)
  %body
    = yield
