// Place all the styles related to the Message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create_form{
    margin: 30px;
}

.message .panel-heading {
    font-weight: bold;
}
